.ques
{
	position:absolute;
	left:5%;
}

#suggestions
{
	position:absolute;
	left:5%;
	top:160%;	
}

#suggest_box
{
	position:absolute;
	height:400%;
	width:300%;
}

#button
{
	position:absolute;
	left:0%;
	top:550%;	
}